<ion-view class="agenda-view">
  <ion-nav-title class="has-tabs-top">
    <span>Agenda</span>
  </ion-nav-title>

  <ion-tabs class="tabs-striped tabs-top tabs-color-light">

    <ion-tab class="tab-title" title="APR 24">
      <ion-pane>
        <ion-content class="padding">
          <div agenda-event ng-repeat="event in events.day1" class="agenda-event"></div>
        </ion-content>
      </ion-pane>
    </ion-tab>

    <ion-tab class="tab-title" title="APR 25">
      <ion-pane>
        <ion-content class="padding">
          <div agenda-event ng-repeat="event in events.day2" class="agenda-event"></div>
        </ion-content>
      </ion-pane>
    </ion-tab>

  </ion-tabs>
</ion-view>
