<ion-view class="event-view">
  <ion-nav-title>
    <span>{{event.type}}</span>
  </ion-nav-title>
  <ion-content>
    <img ng-src="{{event.speakers[0].image}}"/>
    <div>
      <span ng-bind-html="event.title"></span>
      <span ng-show="event.speakers">By
        <span ng-repeat="speaker in event.speakers"><b>{{speaker.name}}</b><span>{{$last ? '' : ' & '}}</span></span>
      </span>
    </div>
    <div>
      <p ng-bind-html="event.description"></p>
    </div>
  </ion-content>
</ion-view>
