<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar app-top-bar bar-positive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu class="main-menu" side="left">
    <ion-content scroll="false">
      <ion-list>
        <ion-item class="item item-icon-left" nav-clear menu-close ui-sref="app.agenda">
          <i class="icon ion-calendar"></i>
          <h2 class="menu-text">Agenda</h2>
        </ion-item>
        <ion-item class="item item-icon-left" nav-clear menu-close ui-sref="app.speakers">
          <i class="icon ion-speakerphone"></i>
          <h2 class="menu-text">Speakers</h2>
        </ion-item>
        <ion-item class="item item-icon-left" nav-clear menu-close ui-sref="app.venue">
          <i class="icon ion-ios-location"></i>
          <h2 class="menu-text">Venue</h2>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
