<ion-view class="speakers-view">
  <ion-nav-title>
    <span>Speakers</span>
  </ion-nav-title>
  <ion-content>
    <div class="list card speaker" ng-repeat="speaker in speakers">
      <div class="item title">
        <h2 class="speaker-name">{{speaker.name}}</h2>
      </div>
      <div class="item item-image">
        <img class="full-image speaker-image" ng-src="{{speaker.img}}">
      </div>
      <div class="item item-body">
        <div class="speaker-tags">
          <ul class="speaker-tags-list">
            <li ng-repeat="tag in speaker.tags" class="speaker-tag-item">
              <span class="badge badge-energized">{{tag}}</span>
            </li>
          </ul>
        </div>
        <p class="speaker-bio" ng-bind-html="speaker.bio | rawHtml">
        </p>
        <div class="speaker-buttons">
          <div class="row">
            <div ng-if="speaker.twitter" class="col">
              <a href="" ng-click="goToUrl('http://twitter.com/{{speaker.twitter}}')" class="button button-small button-outline button-block">@{{speaker.twitter}}</a>
            </div>
            <div class="col">
              <a ui-sref="app.event({eventId: speaker.event_id})" class="button button-small button-outline button-block">My talk</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
