<ion-view class="speakers-view">
  <ion-nav-title>
    <span>Speakers</span>
  </ion-nav-title>
  <ion-content>

    <div class="list card">
      <div class="item">
        <h2>Dayana Jabif</h2>
      </div>
      <div class="item item-image">
        <img class="full-image" ng-src="img/dayana_jabif.jpg">
      </div>
      <div class="item item-body">
        <p>
          Dayu is a full stack developer and javascript lover. Always smiling. Avid learner. Coding around the world, currently running @ionicUruguay
        </p>
        <div>
          <div class="row">
            <div class="col">
              <a href="" class="button button-small button-outline button-block button-positive">@dayujabif</a>
            </div>
            <div class="col">
              <a href="" class="button button-small button-outline button-block button-positive">My talk</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <h2>Agustin Haller</h2>
      </div>
      <div class="item item-image">
        <img class="full-image" ng-src="img/agustin_haller.jpg">
      </div>
      <div class="item item-body">
        <p>
          25 y/o nomad. Hacking around the world one Starbucks at a time. Love JS and learning new things. Now full time ionic developer.
        </p>
        <div>
          <div class="row">
            <div class="col">
              <a href="" class="button button-small button-outline button-block button-positive">@agustinhaller</a>
            </div>
            <div class="col">
              <a href="" class="button button-small button-outline button-block button-positive">My talk</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
