<ion-view class="speakers-view">
  <ion-nav-title>
    <span>Speakers</span>
  </ion-nav-title>
  <ion-content>
    <div class="list card" ng-repeat="speaker in speakers">
      <div class="item">
        <h2>{{speaker.name}}</h2>
      </div>
      <div class="item item-image">
        <img class="full-image" ng-src="{{speaker.img}}">
      </div>
      <div class="item item-body">
        <p ng-bind-html="speaker.bio | rawHtml">
        <div>
          <div class="row">
            <div class="col">
              <a href="" class="button button-small button-outline button-block button-positive">@{{speaker.twitter}}</a>
            </div>
            <div class="col">
              <a ui-sref="app.event({eventId: speaker.event_id})" class="button button-small button-outline button-block button-positive">My talk</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
